name: Release Tag

on:
  push:
    branches:
    - release/*

jobs:
  release_build:
    runs-on: ubuntu-latest

    steps:

#### JAVA VERSION ####
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11.0.x

#### Checkout jeometry ####
    - name: Checkout jeometry
      uses: actions/checkout@v2
      with:
        ref: master
        repository: jeometry-org/jeometry
        path: jeometry

#### MAVEN REPOSITORY CACHE ####
    - name: Maven Cache
      uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-version-set-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-version-set-

#### Tag jeometry ####
    - name: Tag jeometry
      env:
        GITHUB_REF: ${{github.ref}}
      run: |
        VERSION_BASE=${GITHUB_REF/refs\/heads\/release\//}-RELEASE
        VERSION=${VERSION_BASE}-GBA-JEOMETRY
        git config --global user.name "Paul Austin"
        git config --global user.email "445537+pauldaustin@users.noreply.github.com"
        git rm -rf .github
        mvn -B versions:set -DnewVersion="${VERSION}" -DgenerateBackupPoms=false
        git commit -a -m "Version ${VERSION}"
        git fetch --unshallow origin master
        git tag -f "${VERSION}"
        git push -f https://github.com/pauldaustin/gba ${VERSION}
      working-directory: ./jeometry
